<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="hamster-wrapper">
      <form
        class="hamster-container"
        action="http://localhost:3000/rateHamster1"
        method="POST">
        <img
          class="hamster-img"
          src="../assets/frenjamin-benklin-2Px6-jGGH_w-unsplash.jpg"
          alt="Hamster 1" />
        <h2>Hamster 1</h2>
        <button type="submit" class="vote-btn">Vote!</button>
      </form>
      <form
        class="hamster-container"
        action="http://localhost:3000/rateHamster2"
        method="POST">
        <img
          class="hamster-img"
          src="../assets/ricky-kharawala-adK3Vu70DEQ-unsplash.jpg"
          alt="Hamster 2" />
        <h2>Hamster 2</h2>
        <button type="submit" class="vote-btn">Vote!</button>
      </form>
    </div>
  </body>
</html>
